@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
	/*! GLOBAL !*/
	body {
		@apply text-neutral-900;
	}

	.card {
		@apply bg-white rounded shadow-card overflow-hidden dark:bg-[#101828];
	}

	.skeleton {
		@apply relative overflow-hidden bg-neutral-200 rounded after:absolute after:top-0 after:right-0 after:h-full after:w-full after:bg-linear-to-r after:from-neutral-200 after:via-white after:to-neutral-200 after:animate-progress;
	}

	.img-box {
		@apply flex items-center justify-center overflow-hidden rounded;
	}

	.img-box img {
		@apply w-full h-full object-contain;
	}

	/*! BUTTON !*/
	.btn {
		@apply flex items-center justify-center text-sm font-bold w-max h-max duration-100 active:scale-95 cursor-pointer outline-none select-none;
	}

	.btn.disabled {
		@apply active:scale-100 opacity-50 cursor-auto;
	}

	.btn.black {
		@apply text-white bg-neutral-800 hover:bg-neutral-900;
	}
	.btn.white {
		@apply text-neutral-700 border border-solid border-neutral-400 bg-white hover:bg-neutral-100;
	}
	.btn.simple {
		@apply text-neutral-800 hover:text-neutral-900;
	}
	.btn.red {
		@apply text-white bg-red-700 hover:bg-red-800;
	}
	.btn.green {
		@apply text-white bg-green-700 hover:bg-green-800;
	}
	.btn.purple {
		@apply text-white bg-purple-700 hover:bg-purple-800;
	}
	.btn.blue {
		@apply text-white bg-blue-700 hover:bg-blue-800;
	}
	.btn.green-outline {
		@apply text-green-700 bg-white border border-green-700 hover:border-green-800 hover:text-green-800;
	}
	.btn.purple-outline {
		@apply text-purple-700 bg-white border border-purple-700 hover:border-purple-800 hover:text-purple-800;
	}
	.btn.red-outline {
		@apply text-red-700 bg-white border border-red-700 hover:border-red-800 hover:text-red-800;
	}
	.btn.blue-outline {
		@apply text-blue-700 bg-white border border-blue-700 hover:border-blue-800 hover:text-blue-800;
	}
	.btn.black-outline {
		@apply text-neutral-700 bg-white border border-neutral-700 hover:border-neutral-800 hover:text-neutral-800;
	}
	.btn.black-simple {
		@apply text-neutral-700 hover:bg-neutral-100;
	}
	.btn.red-simple {
		@apply text-red-600 hover:bg-red-100;
	}
	.btn.green-simple {
		@apply text-green-600 hover:bg-green-100;
	}
	.btn.purple-simple {
		@apply text-purple-600 hover:bg-purple-100;
	}
	.btn.blue-simple {
		@apply text-blue-600 hover:bg-blue-100;
	}
	.btn.small {
		@apply px-1 py-0.5 rounded text-xs;
	}
	.btn.medium {
		@apply px-4 py-1.5 rounded;
	}
	.btn.large {
		@apply px-6 py-3 rounded-[10px];
	}
	.btn.icon {
		@apply size-8 rounded;
	}

	/*! BADGE !*/
	.badge.primary {
		@apply text-white;
	}
	.badge.primary.green {
		@apply bg-green-600;
	}
	.badge.primary.blue {
		@apply bg-blue-600;
	}
	.badge.primary.neutral {
		@apply bg-neutral-600;
	}
	.badge.primary.red {
		@apply bg-red-600;
	}
	.badge.primary.yellow {
		@apply bg-yellow-300 text-neutral-700;
	}
	.badge.primary.purple {
		@apply bg-purple-600;
	}

	.badge.secondary.green {
		@apply bg-green-100 text-green-700;
	}
	.badge.secondary.blue {
		@apply bg-blue-100 text-blue-700;
	}
	.badge.secondary.neutral {
		@apply bg-neutral-100 text-neutral-700;
	}
	.badge.secondary.red {
		@apply bg-red-100 text-red-700;
	}
	.badge.secondary.yellow {
		@apply bg-yellow-100 text-yellow-700;
	}
	.badge.secondary.purple {
		@apply bg-purple-100 text-purple-700;
	}

	.badge.outline {
		@apply border;
	}
	.badge.outline.green {
		@apply text-green-700 border-green-500;
	}
	.badge.outline.blue {
		@apply text-blue-700 border-blue-500;
	}
	.badge.outline.neutral {
		@apply text-neutral-700 border-neutral-500;
	}
	.badge.outline.red {
		@apply text-red-700 border-red-500;
	}
	.badge.outline.yellow {
		@apply text-yellow-700 border-yellow-500;
	}
	.badge.outline.purple {
		@apply text-purple-700 border-purple-500;
	}

	.badge.small {
		@apply text-xs py-0.5 px-2;
	}
	.badge.medium {
		@apply text-sm py-0.5 px-2.5;
	}
	.badge.large {
		@apply text-base py-1 px-3;
	}

	/*! INPUT, SELECT, TEXTAREA !*/
	.form-input {
		@apply grid gap-1 h-max;
	}

	.form-input label {
		@apply text-neutral-900;
	}
	.form-input.small label {
		@apply text-xs;
	}
	.form-input.medium label {
		@apply text-sm;
	}

	.form-input input,
	.form-input textarea,
	.form-input select {
		@apply text-neutral-900 w-full h-full bg-white border border-blue-500 rounded-md outline-2 outline-transparent focus:outline-blue-500 focus:border-blue-500;
	}

	.form-input.small input,
	.form-input.small textarea,
	.form-input.small select {
		@apply text-xs py-1 px-2;
	}

	.form-input.medium input,
	.form-input.medium textarea,
	.form-input.medium select {
		@apply text-sm py-1.5 px-2.5;
	}

	/** error **/
	.form-input.error label {
		@apply text-red-700;
	}
	.form-input.error input,
	.form-input.error textarea,
	.form-input.error select {
		@apply text-red-900 bg-red-50 border-red-500 focus:outline-red-500 placeholder:text-red-400;
	}

	/** disabled **/
	.form-input.disabled {
		@apply opacity-50 cursor-not-allowed;
	}
	.form-input.disabled input,
	.form-input.disabled textarea,
	.form-input.disabled select {
		@apply cursor-not-allowed;
	}

	/*! INFO !*/
	.info {
		@apply grid gap-1 p-3 rounded-sm;
	}
	.info.green {
		@apply bg-green-50;
	}
	.info.red {
		@apply bg-red-50;
	}
	.info.blue {
		@apply bg-blue-50;
	}
	.info.neutral {
		@apply bg-neutral-50;
	}
	.info.simple {
		@apply bg-white;
	}
	.info.primary {
		@apply bg-primary-light;
	}

	.info.green .value {
		@apply text-green-700;
	}
	.info.red .value {
		@apply text-red-700;
	}
	.info.blue .value {
		@apply text-blue-700;
	}
	.info.neutral .value {
		@apply text-neutral-700;
	}
	.info.primary .value {
		@apply text-primary-dark;
	}
}

@layer base {
	@font-face {
		font-family: "Vazir";
		src: url("/assets/Vazir.ttf");
	}

	* {
		font-family: "Vazir";
	}

	html {
		font-family: "Vazir";
	}

	body {
		height: auto !important;
		font-family: "Vazir";
	}

	input.hide-arrow[type="number"]::-webkit-inner-spin-button,
	input.hide-arrow[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input.hide-arrow[type="number"] {
		-moz-appearance: textfield;
	}

	/* width */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #bababa;
		border-radius: 5px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

@theme {
	--shadow-card: 0px 2px 10px 0px rgba(0, 0, 0, 0.1), 0px 0px 2px 0px rgba(0, 0, 0, 0.2) dark:shadow-card-dark;
	--shadow-card-dark: 0px 2px 10px 0px rgba(255, 255, 255, 0.1), 0px 0px 2px 0px rgba(255, 255, 255, 0.2);

	--animate-fadeInUp: fadeInUp 0.3s forwards;
	--animate-fadeIn: fadeIn 0.3s forwards;
	--animate-fadeInRight: fadeInRight 0.3s forwards;
	--animate-progress: progress 1s ease-in-out infinite;

	--color-primary: #3b82f6;
	--color-primary-dark: #2563eb;
	--color-primary-light: #dbeafe;

	@keyframes fadeInUp {
		0% {
			opacity: 0;
			transform: translate3d(0, 20%, 0);
		}
		100% {
			opacity: 1;
			transform: translateZ(0);
		}
	}
	@keyframes fadeInRight {
		0% {
			opacity: 0;
			transform: translate3d(100%, 0, 0);
		}
		100% {
			opacity: 1;
			transform: translateZ(0);
		}
	}
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes progress {
		0% {
			transform: translate3d(100%, 0, 0);
		}
		100% {
			transform: translate3d(-100%, 0, 0);
		}
	}
}

.rmdp-container {
	width: 100% !important;
}
.rmdp-time-picker div input {
	width: 36px;
}
.rmdp-ep-arrow {
	z-index: 1002 !important;
}
.rmdp-ep-arrow + div {
	z-index: 1001 !important;
}
